.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 10px;


}

.loginBox {
    width: 400px;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.xMark {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
    text-decoration: none;
    color: black;
}

.fa-xmark {
    font-size: 30px;

}

.logo img {
    width: 80px;
    margin: 20px 0;
}

.loginBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 85%;
    height: 48px;
    margin: 10px 0;
    border: 3px solid #003035;
    border-radius: 5px;
    color: #003035;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    margin: 5px 0;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    color: #003035;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

button i {
    font-size: 20px;
    margin-right: 5px;
}

.loginBox h2 {
    margin: 0 0 20px 0;
}

.loginBox p {
    opacity: .9;
    margin: 20px 0;
}

.loginBox h4 {
    color: blue;
    cursor: pointer;
    margin: 20px 0;
}



/* Add Login Info----------------------------------------- */

.AddLoginInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loginInfo {
    width: 400px;
    height: 552px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginInfo h2 {
    margin: 0 0 20px 0;
}

.mailbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px 0px;
}

.passBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px 0px;
}

.loginInfo input {
    width: 85%;
    height: 48px;
    padding: 0 10px;
}

.loginInfo h4 {
    color: blue;
    margin: 20px 0;
}

.loginInfo button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 48px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #122F34;

}